
/* form{
    padding:20px;
}

label{
    margin:5px;
    padding:5px;
    font-size: x-large;
    font-weight: bolder;
}

input{
    margin:10px;
}

span{
    color:red;
    margin-left: 5px;
    font-weight: bolder;
    font-style: italic;
} */